<!DOCTYPE html>
<html>
<head>
  <title>P,R,S - Results</title>
  <link rel="stylesheet" href="../styles/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
 </head>

<body>
  <% include global/header %>

    <img id="martin atkinson" src="" height=300; width=300;>
 <div id="game_results">
    <p id="result"> You <%=user.result%>!</p>
    <p> You threw <%=user.weapon%>!</p>
    <p> <%=user.villain.replace('_', ' ')%> threw <%=user.response%>!</p>
    <form action="/playAgain" method="get">
      <button type="submit" id = "play_again">Play Again</button>
    </form>
    <object id = "villain_image" type="image/svg+xml" data="../images/<%=user.villain.toLowerCase()%>_<%=user.response%>.svg" width = "100vw" height = "100vh"></object>
    <img id="player_image" src="../images/player_<%=user.weapon%>.png">
  </div>
  <% include global/footer %>
  <script src="../scripts/scripts.js"></script>
 </body>
</html>
