<!DOCTYPE html>
<html>
<head>
  <title>P,R,S - Results</title>
  <link rel="stylesheet" type="text/css" href="styles/style.css">
 </head>

<body>
  <% include global/header %>

 <div id="game_results">
    <p> You <%=user.result%>!</p>
    <p> You threw <%=user.weapon%>!</p>
    <p> <%=user.villain%> threw <%=user.response%>!</p>
    <form action="/login" method="get">
     <button type="submit" id="playAgain">Play again</button>
   </form>
   <img id="villain_image" src="images/<%=user.villain%>_<%=user.response%>.svg">
   <img id="player_image" src="images/player_<%=user.weapon%>.png">

</div>


  <% include global/footer %>

  <script src="scripts/scripts.js"></script>
 </body>
</html>
