<!DOCTYPE html>
<html>
<head>
  <title>P,R,S - Results</title>
  <link rel="stylesheet" href="../styles/style.css">
 </head>

<body>
  <% include global/header %>

 <div id="game_results">
    <p> You <%=user.result%>!</p>
    <p> You threw <%=user.weapon%>!</p>
    <p> <%=user.villain%> threw <%=user.response%>!</p>
     <form action="/playAgain" method="get">
      Please enter your name and password <br><br>
      Name: <input type="text" id="enter_name_input" name="player_name"><br>
      PSWD: <input type="password" id="enter_psw_input" name="pswd"><br><br>
      <button type="submit" id = "enter_name_button">Submit Name</button>
    </form>
   <img id="villain_image" src="../images/<%=user.villain%>_<%=user.response%>.svg">
   <img id="player_image" src="../images/player_<%=user.weapon%>.png">

</div>


  <% include global/footer %>

  <script src="../scripts/scripts.js"></script>
 </body>
</html>
